<h1>Update Image</h1>


<form method="post" action="/artists/<%= artist._id %>">
  <input type="hidden" name="_method" value="put">
  <label for="artist">Artist</label>
  <input type="text" id="artist" name="artist" value="<%= artist.artist %>">

  <label for="title">Title</label>
  <input type="text" id="title" name="title" value= "<%= artist.title %>">

  <label for="description">Description</label>
  <textarea id="description" name="description"><%= artist.description %></textarea>

  <label for="image">Image</label>
  <input type="text" id="image" name="image" value="<%= artist.image %>">


  <input type="submit" value="Submit">
</form>
