<h2> <%= artist.title %> </h2>
<p> <%= artist.artist %> </p>
<p> <%= artist.description %> </p>
<img src ="<%= artist.image %>" alt="<%= artist.artist %>'s image'">

<a class="btn btn-primary edit" href="/artists/<%= artist._id %>/edit">Edit</a>
<form action="/artists/<%= artist.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button class="btn btn-danger delete">Delete</button>
</form>
