<h2 class="artist-title"> <%= artist.title %> </h2>
<h3> <%= artist.artist %> </h3>
<p> <%= artist.description %> </p>
<img class="artist-image" src ="<%= artist.image %>" alt="<%= artist.artist %>'s image'">

<form class="form-action" action="/artists/<%= artist.id %>" method="post">
  <div class="btn-group" role="group">
  <input type="hidden" name="_method" value="delete">
  <button class="btn  delete">Delete</button>
  <a class="btn   edit" href="/artists/<%= artist._id %>/edit">Edit</a>
</div>
</form>
<div class="row">
  <div class="">
</div>
<form action="/artists/<%= artist.id %>" method="POST">
<div>
  <textarea name="body" id="body" rows="8" cols="80"></textarea>
</div>
  <input type="submit" class="btn">
</form>

<div class="container">
<ul class="ulComment">
  <% artist.comments.forEach(comment => { %>
    <li><a href="/users/<%= comment.user._id %>"><%= comment.user.username %></a> &middot; <%= comment.body %></li>
<% }) %>
</ul>
</div>
